* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif,
}

header {
    background-color: #073763;
    width: 100%;
    height: 40px;
}
nav {
    background-color: #073763;
    width: 100%;
    height: 100px;

}
.navbar-light .navbar-nav .nav-link {
  color:  #FF7400;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #FFFFFF;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:visited{
 color: #FF7400;
}



h1 {
  color: #073763;
  font-size: 3rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

h2{
    color: #399271;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3{
  color: #FF7400;
  font-size: 1.75rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  color: #073763;
  font-size: 1.75rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

h5 {
  color: #399271;
  font-size: 1.05rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}

p{
    color: black;
    font-size: 1rem;
}

.card{
    border: 3px solid #FF7400;
}

.proyectos {
  margin: 0 auto;
  width: 100%;
}

.pildoras {
  margin: 0 auto;
  width: 100%;
}

.container{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #FF7400;
}

.welcome{

  width: 1200px;
  height: 400px;
  margin-top: 90px;
 
}


.welcome-text {
 margin-left: 600px;
 margin-top: 100px;

}

.frase1{
  margin: 0px 90px;
  font-weight: bolder;
  font-size: 70px;
  color: black;
  font-family: 'Quicksand', sans-serif,"Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.frase2{
  margin: 0px 100px;
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Quicksand', sans-serif,"Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



/* ANIMACIÓN Y POSICIÓN DE LA IMAGEN */

.welcome>img{
  margin-top: 200px;
  animation-name: mianimacion;
  animation-duration: 2s;
  position: relative;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  transition-duration: 1s;
  transition-timing-function: linear;
}

@keyframes mianimacion{
  0% {left: 0px;top: 0px; }
  100% {left: 400px; }
 
}

.welcome>img:hover{
  box-shadow: 60px 60px 14px 2px rgba(0,0,0,0.47);
  transform:rotate(360deg);

}


/* ANIMACIÓN DEL TEXTO */

.frase1{
  
  display: inline-block;    
  animation: bounceInRight    ; 
  animation-duration: 2s; 
    
}

.frase2{
  
  display: inline-block;    
  animation: lightSpeedInRight ;
  animation-duration: 2s; 
  animation-iteration-count: ;
  
}

.welcome {
  width: 100%;
  height: 900px;
  margin-top: 100px;
}

.welcome>img {
  width: 20%;
  margin: auto;
  display: block;
}

.btn-ttc {
  color: #073763;
  border-radius: 0.25rem;
  border: solid 1px #6c757d;
  background-color: #ffffff;

}

.btn-ttc:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #FF7400;
}

.about {
  margin-top: 500px;
  margin-left: 100px;
  margin-right: 100px;
}

.equipo{
  margin-top: 100px;
}

button>a>img {
  max-width: 100%;
}

.welcome-img{
  float: left;
  width: 20%;
 }
.comments {
  margin-top: 100px;
}


/*Contacta con nosotros*/

.contact {
  width: 90%;
  margin-top: 100px;
  margin-left: 100px;
}

input .form-control {
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 10px;
  
}

input .textarea {
  padding: 3px;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 7px;
  max-width: 50%;
  
}

textarea  {
  min-height: 155px;
  max-height: 200px;
  max-width: 95%;
}

/*Footer*/

footer {
  background-color: #073763;
  width: 100%;
  color: #399271;
  margin-top: 30px;
  text-align: center;
  font-size: 0.95;
  padding: 5px 5px;
}

.footer-info { 
  width: 100%;
  position: relative;
  
}

/*icono de instagram*/

div .social-icon i {
  margin-top: 20px;
  font-size: 40px;
  padding: 5px;
  width: 60px;
  height: 60px; 
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  border:2px solid #399271;
  -webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
  box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  }

/*Déjanos tu Comentario*/

textarea {
  overflow: hidden;
  resize: none;
  margin: 0 auto;
  width: 75%;
}

.comments-textarea .form-contro .col-lg-6{
  display: none;
  padding: 3px;
  font-size: 17px;
  border-radius: 10px;
  border-color: internal-light-dark(rgb(76, 177, 245), white);
  margin-bottom: 3rem;
}

div .row{
  padding: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  left: auto;
}



@media (min-width: 0) {
  .g-mr-15 {
      margin-right: 1.07143rem !important;
  }
}

@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: #DDDD!important;
    border-radius: 7PX;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #5A5A5A !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top:20px
}

